/*  This template was created by Mantis-a [http://www.mantisa.cz/]. For more templates visit Free website templates [http://www.mantisatemplates.com/]. */



/* CSS Document */


/* General */

* {
margin: 0;
padding: 0;
}

html {
height: 100%;
font-size: 62.5%;
}

body {
height: 100%;
text-align: center;
font: 1.2em Verdana, Arial, Helvetica, sans-serif;
min-width: 1350px;
}

a:link, a:visited {
color: white;
text-decoration: underline;
font-weight: bold;
}

a:hover {
text-decoration: none;
}

.cleaner {
clear: both;
height: 0;
font-size: 0;
visibility: hidden;
content: ' ';
}

.cleaning-box { 
min-height: 1px;
}

.cleaning-box:after {
display: block; 
clear: both; 
visibility: hidden; 
height: 0; 
font-size: 0; 
content: ' ';
}

.noscreen {
display: none;
}

.hidden { /* Skip menu */
position: absolute;
top: -10000px;
left: 0;
width: 1px;
height: 1px;
overflow: hidden;
}


/* Wrapper of the site */

#wrapper {
background-color: white;
width: 1350px;
margin: 0 auto;
}


/* Paragraphs, headings, ... */

p {
line-height: 170%;
margin-bottom: 10px;
color: #252525;
}

h1 {
font-size: 1.9em;
font-weight: bold;
color:black;
text-align: left;
padding: 20px 0 4px 0;

margin-left: 20px;
width: 35%;
}

h1 a:link, h1 a:visited {
font-weight: normal;
text-decoration: none;
color: white;
}

h2 {
font-size: 1.3em;
font-weight: bold;
color:black;
letter-spacing: 1px;
text-align: left;
padding-left: 20px;
margin-top: 4px;
}

h3 {
font-size: 1.4em;
font-weight:bold;
color: black;
letter-spacing: 1px;
padding-bottom: 3px;
border-bottom: 1px solid #252525;
margin: 20px 0 7px 0;
width: 100%;
}

h3.first {
margin: 0 0 7px 0;
}

address {
font-style: normal;
line-height: 160%;
margin: 5px 8px;
}


/* Header */

#header {
width: 1350px;
height: 124px;
position: relative;
margin: 0 auto;
background:white;
text-align: left;
}


/* Logo, slogan */

#logo {
position: absolute;
top: 23px;
left: 27px;
width: 25px;
height: 41px;
}

#logo a, #logo a:visited {
color: #FFFFFF;
}

#logo img {
border: 0;
}

#slogan {
font-size: 1.4em;
letter-spacing: 1px;
position: absolute;
top: 97px;
right: 290px;
color: #FFFFFF;
}

#slogan span {
color: #FF8034;
}


/* Search form */

form.searching {
width: 240px;
position: absolute;
top: 20px;
right: 20px;
}

form.searching fieldset {
border: 0;
}

form.searching input.search {
letter-spacing: 1px;
float: left;
padding: 2px 0 2px 6px;
width: 139px;
border: 0;
}

form.searching input.hledat {
font-size: 0.9em;
letter-spacing: 2px;
padding-left: 0;
margin-left: 4px;
font-weight: bold;
float: left;
}

form.searching label {
display: none;
}


/* Menu */

#menu-box {
width: 1350px;
margin: 0 auto;
margin-bottom: 3px;
background: #4A4A4A url('../img/menu-bg.gif') repeat-x 0 0;
}

#menu {
width: 1350px;
margin: 0 auto;
}

#menu li {
display: inline;
list-style-type: none;
text-align: center;
}

#menu li.first a {
margin-left: 30px;
display: inline
}

#menu li a {
float: left;
color: #FFFFFF;
font-weight: bold;
display: block;
padding: 0 3.3em;
line-height: 29px;
}

#menu li a:hover {
color: #FFB88D;
font-weight: bold;
text-decoration: none;
}

#menu li a.active {
color:#FFFFFF;
background-color: orange;
font-weight: bold;
}


/* 3 columns layout */

#content {
width: 1350px;
margin: 0 auto;
text-align: left;
background-color: inactiveborder;
}

#column-1 {
float: right;
width: 1182px;
}

#column-1 #column-11 {
float: left;
width: 590px;
background-color: white;        
}

#column-1 #column-12 {
float: right;
width: 178px;
font-size: 0.9em;
}

#column-2 {
float: left;
width: 165px;
font-size: 0.9em;
}

#column-1, #column-2, #column-12 {
padding-bottom: 30px;
}

#column-1 #column-12 p, #column-2 p {
margin: 0; line-height: 1.4;
}

#column-2 h3, #column-1 #column-12 h3 {
background: #DB6201 url('../img/ss.gif') no-repeat 0 0;
font-family: Georgia, "Calibri", Times, serif;
font-size: 1.1em;
font-weight: bold;
color: blue;
line-height: 29px;
margin: 0; padding: 0; border: 0;
text-align: center;
width: 100%;
}

#column-11 div.content {
margin: 0.5em 1.3em 0 1em;
}

#column-2 div.content, #column-12 div.content {
margin: 0.4em 0.5em 1.2em 0.9em;
}

#column-12, #column-2 {
background-color: #FFEADD;
}


/* Menu in columns */

.menicko {
text-align: left;
list-style-type: none;
margin: 0.6em 0.3em 1.2em 0.3em;
}

.menicko li {
color: #252525;
font-weight: bold;
text-decoration: none;
margin: 0 0 12px 5px;
}

.menicko li a, .menicko li a:visited {
color: #252525;
font-weight: bold;
text-decoration: underline;
}

.menicko li a:hover {
text-decoration: none;
}

.menicko ul {
list-style-type: square;
list-style-position: inside;
}

.menicko ul li {
margin: 5px 0 0 0;
}

.menicko ul li a, .menicko ul li a:visited {
font-weight: normal;
}

.menicko ul li a:hover, .menicko ul li a.active {
text-decoration: none;
background-color: #252525;
color: #FFFFFF !important;
padding: 0 1px;
}


/* Definition list in colum */

dl.news {
margin: 0.6em 0.3em 1.2em 0.6em;
}

dl.news dt {
font-weight: bold;
}

dl.news dd {
margin-bottom: 12px;
padding-bottom: 8px;
border-bottom: 1px dotted #202020;
}

dl.news dd a, dl.news dd a:visited {
font-style: italic;
color: #A51F00;
}


/* Gallery in midlle column */

#small-gallery {
margin: 1.5em 0 3em 0;
width: 100%;
padding: 1px 0;
}

#small-gallery .foto {
float: left;
display: inline;
width: 128px;
height: 110px;
text-align: center;
margin: 0 17px 22px 0;
}

#small-gallery .foto img {
border: 3px solid silver;
}

#small-gallery .foto a:hover img {
border: 3px solid #F87500;
}

#small-gallery .foto p {
margin: 0;
}

#small-gallery .foto p a, #small-gallery .foto p a:visited {
color: #202020;
font-weight: normal;
}


/* Table */

table {
font-size: 1.1em;
border-collapse: collapse;
margin-left: 24px;
}

th, td {
padding: 3px 13px;

}

th {
text-align: right;
font-weight: bold;
}

td {
text-align: left;
}

.first-row {
background: #F4FF7C;
}

.first-row th {
text-align: center;
font-weight: bold;
border-bottom: 2px solid #202020;
}

.first-column {
background: #FFD162;
border-right: 1px solid #202020;
}

.last-column {
background-color: #FFD162;
border-left: 1px solid #202020;
}


/* Footer */

#footer {
width: 1350px;
margin: 0 auto;
height: 38px;
background-color: black;
clear: both;
}

#footer-in {
width: 1350px;
margin: 0 auto;
}

p.footer-left {
float: left;
width: 450px;
color: #FFFFFF;
text-align: left;
margin: 7px 0 0 15px;
display: inline;
}

p.footer-left a, p.footer-left a:visited {
color: #FFFFFF;
padding: 1px 2px;
}

p.footer-left a:hover {
background-color: #FFFFFF;
color: #202020;
}

p.footer-right {
float: right;
width: 450px;
color: #FFFFFF;
text-align: right;
margin: 7px 15px 0 0;
display: inline;
}

p.footer-right a, p.footer-right a:visited {
font-size: 0.9em;
color: #FFFFFF;
padding: 1px 2px;
}

p.footer-right a, p.footer-right a:visited  {
font-weight: normal;
}

